.sys {
  all: unset;
  background-color: $color_bg_2;
  border-radius: 14px;
}

.prog-cpu {
  color: $color_accent;
  border-radius: 16px;
  margin-right: 20px;
}

.icon-cpu {
  padding-right: 12px;
}
