[Unit]
Description=Lyrics-on-Panel MPRIS2 Backend
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/arch/.local/share/lyrics-on-panel/backend/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
