environment {
    DISPLAY ":0"
    TERMINAL "kitty"
	XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "gtk2"
	QT_QPA_PLATFORMTHEME_QT6 "gtk2"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    MOZ_ENABLE_WAYLAND "1"
    MOZ_WEBRENDERER "1"

    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    GLFW_IM_MODULE "ibus"
    INPUT_METHOD "fcitx"
    IMSETTINGS_MODULE "fcitx"
    QT_IM_MODULES "wayland;fcitx;ibus"
    XMODIFIERS "@im=fcitx"

	_JAVA_AWT_WM_NONREPARENTING "1"
}
